.start-container {

}

.question-container {

}

.hide {
    display: none !important;
}

.option-container {
    display: flex;
    flex-direction: column;
}

.option-container button {
    width: 30%;
}